
td {
    background-color: #151515 !important;
    color: white !important ;
}
th {
    color: white !important;
    background-color: #151515 !important;
}
body {
    background-color: #151515 !important;
}
